@import "../../../custom.scss";
.list{
    &-content{
      &-title{
        text-align: center;
        font-family: myFont, Arial (sans-serif), Arial Black (sans-serif),
        Verdana (sans-serif), Tahoma (sans-serif), Trebuchet MS (sans-serif),
        Impact (sans-serif), Gill Sans (sans-serif);
        font-size: 1.5rem;
        color: $dark-violet;
        text-decoration: underline;
        font-style: italic;
      }
      &-item{
        padding: 0.5rem;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        &-title{
          font-family: josefine-sans, Arial (sans-serif), Arial Black (sans-serif),
          Verdana (sans-serif), Tahoma (sans-serif), Trebuchet MS (sans-serif),
          Impact (sans-serif), Gill Sans (sans-serif);
        }
      }
    }
  }