@import "../../../../custom.scss";
.characteristics {
  color: $dark-violet;
  font-family: josefine-sans, Arial (sans-serif), Arial Black (sans-serif),
  Verdana (sans-serif), Tahoma (sans-serif), Trebuchet MS (sans-serif),
  Impact (sans-serif), Gill Sans (sans-serif);
  &-title {
    font-family: myFont, Arial (sans-serif), Arial Black (sans-serif),
    Verdana (sans-serif), Tahoma (sans-serif), Trebuchet MS (sans-serif),
    Impact (sans-serif), Gill Sans (sans-serif);
    font-style: italic;
    text-decoration: underline;
  }
  &-container {
    &-list {
      &-item {
        list-style-type: square;
        padding: 0.5rem;
        font-size: 1.3rem;
      }
    }
  }
}
