@import "../../../../custom.scss";
.order_modal_component {
  display: flex;
  flex-direction: column;
  height: 5rem;
  align-items: center;
  &_label {
    margin-top: 1rem;
    color: $color-secondary;
    font-family: $fonts;
    font-size: 1.25rem;
  }
  &_input {
    border-radius: 0.5rem;
    font-family: $fonts;
    font-size: 1.1rem;
    padding: 0.5rem;
  }
}
