@import "../../../custom.scss";
.header {
  text-align: center;
  color: $dark-violet;
  font-style: italic;
  text-decoration: underline;
  font-family: myFont, Arial (sans-serif), Arial Black (sans-serif),
  Verdana (sans-serif), Tahoma (sans-serif), Trebuchet MS (sans-serif),
  Impact (sans-serif), Gill Sans (sans-serif);
  margin-top: 12rem;
}
