@import "../../../custom.scss";
.table-header {
  &-content {
    font-size: 1.4rem;
    font-family: $fonts;
    color: $color-primary;
    text-decoration: underline;
    text-align: center;
    th {
      border-bottom: solid 0.2rem $light-grey;
    }
  }
}
.club-name {
  cursor: pointer;
  font-size: 1.1rem;
}
.club-name:hover {
  background-color: $dark-violet;
  color: $light-grey;
}
