@import "../../../custom.scss";
.table-header {
  &-content {
    font-size: 1.4rem;
    font-family: myFont, Arial (sans-serif), Arial Black (sans-serif),
    Verdana (sans-serif), Tahoma (sans-serif), Trebuchet MS (sans-serif),
    Impact (sans-serif), Gill Sans (sans-serif);
    color: $color-primary;
    text-decoration: underline;
    text-align: center;
    th {
      border-bottom: solid 0.2rem $light-grey;
    }
  }
}
.club-name {
  cursor: pointer;
  font-size: 1.1rem;
}
.club-name:hover {
  background-color: $dark-violet;
  color: $light-grey;
}
