@import "../../custom.scss";
.iron_fit_app_button {
  font-family: myFont, Arial (sans-serif), Arial Black (sans-serif),
  Verdana (sans-serif), Tahoma (sans-serif), Trebuchet MS (sans-serif),
  Impact (sans-serif), Gill Sans (sans-serif);
  font-size: 1.4rem;
  cursor: pointer;
  border-radius: 0.5rem;
  color: $color-secondary;
  background-color: $light-green;
  margin: 0.5rem;
  &:hover {
    color: $color-primary;
    background-color: $color-secondary;
  }
  &:active {
    background-color: $dark-violet;
    color: $light-green;
  }
  &:disabled {
    color: $dark-violet;
    background-color: $light-grey;
  }
}
