@import "../../custom.scss";
.registration_modal {
  padding-top: 0;
  position: fixed;
  z-index: 11;
  left: 0;
  top: 0;
  width: 100%;
  background-color: $dark-violet;
  opacity: 0.95;
  &_content {
    background-color: $color-primary;
    color: $violet;
    height: 52rem;
    width: 18vw;
    margin: 5% auto 15% auto;
    border: 3px solid $light-grey;
    border-radius: 1rem;
    &_form {
      div {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        button {
          max-height: 3rem;
        }
        label {
          width: 14rem;
          margin: 1rem;
          color: $color-secondary;
          font-family: $fonts;
          font-size: 1.25rem;
          display: flex;
          justify-content: space-evenly;
        }
        input {
          border-radius: 0.5rem;
          font-family: $fonts;
          font-size: 1.1rem;
          padding: 0.5rem;
        }
        p {
          color: $light-grey;
          font-size: 0.75rem;
          text-align: center;
        }
      }
    }
  }
}
.registration__logo {
  height: 6.6rem;
}
.close_btn {
  display: flex;
  justify-content: flex-end;
}
.link-to-login {
  cursor: pointer;
  color: $light-grey;
  text-decoration: underline;
  font-family: $fonts;
  font-size: 1.2rem !important;
}
.link-to-login:hover {
  color: $light-green;
}
.link-to-login:active {
  color: $pink;
}
.msg {
  &_err {
    color: $red;
  }
  &_instructions {
    color: $light-grey;
  }
}
.offscreen {
  display: none;
}
