@import "../../custom.scss";
header {
  max-width: 100vw;
  background-color: $color-primary;
  font-family: $fonts;
  font-size: 1.5rem;
  nav {
    display: flex;
    justify-content: space-between;
    .header__logo {
      height: 6.6rem;
      margin: 0.5rem;
    }
    .nav {
      &__list {
        list-style: none;
        display: flex;
        align-items: center;
      }
      &__item {
        margin: 0 1rem 1.5rem 1rem;
        cursor: pointer;
        text-decoration: underline;
        color: $color-secondary;
      }
    }
  }
}
