@import "../../custom.scss";
header {
  width: 100vw;
  background-color: $color-primary;
  opacity: 0.9;
  font-family: $fonts;
  font-size: 1.5rem;
  position: fixed;
  top: 0;
  z-index: 100;
  nav {
    display: flex;
    justify-content: space-between;
    .welcome-para {
      color: $light-grey;
      margin-top: 2rem;
      font-style: italic;
      font-size: 2rem;
    }
    .header__logo {
      height: 6.6rem;
      margin: 0.5rem;
    }
    .nav {
      &__list {
        list-style: none;
        display: flex;
        align-items: center;
      }
      &__item {
        margin: 0 1.5rem 1.5rem 1rem;
        cursor: pointer;
        text-decoration: underline;
        color: $color-secondary;
        &:hover {
          color: $light-green;
          text-decoration: underline;
        }
        &:active {
          color: $dark-violet;
        }
        a:link {
          color: $color-secondary;
          text-decoration: none;
        }
        a:visited {
          color: $color-secondary;
          text-decoration: none;
        }
        a:hover {
          color: $light-green;
          text-decoration: underline;
        }
        a:active {
          color: $dark-violet;
          text-decoration: underline;
        }
      }
    }
  }
}
