@import "../../custom.scss";
@media only screen and (min-width: 1000px) {
  .container {
    overflow: hidden;
    background-color: $magenta;
    height: 100vh;
    text-align: center;
    color: $dark-violet;
  }
  .title {
    padding-top: 8rem;
    margin: 0;
    font-family: myFont, Arial (sans-serif), Arial Black (sans-serif),
    Verdana (sans-serif), Tahoma (sans-serif), Trebuchet MS (sans-serif),
    Impact (sans-serif), Gill Sans (sans-serif);
    font-style: italic;
  }
  .para {
    font-family: josefine-sans, Arial (sans-serif), Arial Black (sans-serif),
    Verdana (sans-serif), Tahoma (sans-serif), Trebuchet MS (sans-serif),
    Impact (sans-serif), Gill Sans (sans-serif);
    font-size: 1.1rem;
  }
  .para,
  .title {
    color: $light-grey;
  }
  .image {
    border-radius: 1rem;
    width: 40rem;
  }
  .button-container {
    margin-top: 1rem;
  }
}
@media only screen and (max-width: 999px) {
  .container {
    overflow: hidden;
    background-color: $magenta;
    height: 100vh;
    text-align: center;
    color: $dark-violet;
  }
  .title {
    padding-top: 8rem;
    margin: 0;
    font-family: myFont, Arial (sans-serif), Arial Black (sans-serif),
    Verdana (sans-serif), Tahoma (sans-serif), Trebuchet MS (sans-serif),
    Impact (sans-serif), Gill Sans (sans-serif);
    font-style: italic;
  }
  .para {
    font-family: josefine-sans, Arial (sans-serif), Arial Black (sans-serif),
    Verdana (sans-serif), Tahoma (sans-serif), Trebuchet MS (sans-serif),
    Impact (sans-serif), Gill Sans (sans-serif);
    font-size: 1.1rem;
  }
  .para,
  .title {
    color: $light-grey;
  }
  .image {
    border-radius: 1rem;
    width: 35rem;
  }
  .button-container {
    margin-top: 1rem;
  }
}
@media only screen and (max-width: 600px) {
  .container {
    overflow: hidden;
    background-color: $magenta;
    height: 100vh;
    text-align: center;
    color: $dark-violet;
  }
  .title {
    padding-top: 8rem;
    margin: 0;
    font-family: myFont, Arial (sans-serif), Arial Black (sans-serif),
    Verdana (sans-serif), Tahoma (sans-serif), Trebuchet MS (sans-serif),
    Impact (sans-serif), Gill Sans (sans-serif);
    font-style: italic;
  }
  .para {
    font-family: josefine-sans, Arial (sans-serif), Arial Black (sans-serif),
    Verdana (sans-serif), Tahoma (sans-serif), Trebuchet MS (sans-serif),
    Impact (sans-serif), Gill Sans (sans-serif);
    font-size: 1.1rem;
  }
  .para,
  .title {
    color: $light-grey;
  }
  .image {
    border-radius: 1rem;
    width: 25rem;
  }
  .button-container {
    margin-top: 1rem;
  }
}
@media only screen and (max-width: 400px) {
  .container {
    overflow: hidden;
    background-color: $magenta;
    height: 100vh;
    text-align: center;
    color: $dark-violet;
  }
  .title {
    padding-top: 8rem;
    margin: 0;
    font-family: myFont, Arial (sans-serif), Arial Black (sans-serif),
    Verdana (sans-serif), Tahoma (sans-serif), Trebuchet MS (sans-serif),
    Impact (sans-serif), Gill Sans (sans-serif);
    font-style: italic;
  }
  .para {
    font-family: josefine-sans, Arial (sans-serif), Arial Black (sans-serif),
    Verdana (sans-serif), Tahoma (sans-serif), Trebuchet MS (sans-serif),
    Impact (sans-serif), Gill Sans (sans-serif);
    font-size: 1.1rem;
  }
  .para,
  .title {
    color: $light-grey;
  }
  .image {
    border-radius: 1rem;
    width: 15rem;
  }
  .button-container {
    margin-top: 1rem;
  }
}
