@import "../../custom.scss";
.container {
  overflow: hidden;
  background-color: $magenta;
  height: 100vh;
  text-align: center;
  color: $dark-violet;
}
.title {
  padding-top: 12rem;
  margin: 0;
  font-family: $fonts;
  font-style: italic;
}
.para {
  font-family: $new-fonts;
  font-size: 1.1rem;
}
.para,
.title {
  color: $light-grey;
}
.image {
  border-radius: 1rem;
}
.button-container {
  margin-top: 1rem;
}
