@import "../../../../custom.scss";
.info-para {
  margin-top: 2.5rem;
  span {
    font-family: $new-fonts;
    font-weight: bold;
    text-decoration: underline;
    font-size: 1.5rem;
    color: $dark-violet;
    font-style: italic;
  }
}
