@import "../../../custom.scss";
.general-info{
    text-align: center;
    display: flex;
    flex-direction: column;
    color: $dark-violet;
    font-style: italic;
    font-family: $fonts;
    &-title{
        text-decoration: underline;
    }
    &-email, &-phone{
        font-size: 1.5rem;
    }
}