@import "../../../custom.scss";
.general-info {
  text-align: center;
  display: flex;
  flex-direction: column;
  color: $dark-violet;
  font-style: italic;
  font-family: josefine-sans, Arial (sans-serif), Arial Black (sans-serif),
  Verdana (sans-serif), Tahoma (sans-serif), Trebuchet MS (sans-serif),
  Impact (sans-serif), Gill Sans (sans-serif);
  &-title {
    text-decoration: underline;
    font-family: myFont, Arial (sans-serif), Arial Black (sans-serif),
    Verdana (sans-serif), Tahoma (sans-serif), Trebuchet MS (sans-serif),
    Impact (sans-serif), Gill Sans (sans-serif);
  }
  &-email,
  &-phone {
    font-size: 1.5rem;
    font-weight: bold;
  }
}
