@import "../../../custom.scss";
.table {
  &-type,
  &-item {
    text-align: center;
    padding: 1.4rem 0.2rem;
  }
  &-type {
    font-size: 0.9rem;
    font-family: $new-fonts;
    color: $color-primary;
    text-decoration: underline;
    font-weight: bold;
  }
}
