@import "../../../custom.scss";
@media only screen and (min-width: 1000px) {
  .order_modal {
    display: flex;
    justify-content: center;
    padding-top: 0;
    text-align: center;
    position: fixed;
    z-index: 110;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: $dark-violet;
    opacity: 0.95;
    &_content {
      height: 25rem;
      margin-top: 12rem;
      background-color: $color-primary;
      color: $violet;
      width: 35vw;
      border: 3px solid $light-grey;
      border-radius: 1rem;
    }
    &_component {
      display: flex;
      flex-direction: column;
      height: 5rem;
      align-items: center;
      &_label {
        margin: 1rem 0;
        color: $color-secondary;
        font-family: josefine-sans, Arial (sans-serif), Arial Black (sans-serif),
        Verdana (sans-serif), Tahoma (sans-serif), Trebuchet MS (sans-serif),
        Impact (sans-serif), Gill Sans (sans-serif);
        font-weight: 300;
        font-size: 1.25rem;
      }
      &_input {
        border-radius: 0.5rem;
        font-family: josefine-sans, Arial (sans-serif), Arial Black (sans-serif),
        Verdana (sans-serif), Tahoma (sans-serif), Trebuchet MS (sans-serif),
        Impact (sans-serif), Gill Sans (sans-serif);
        font-size: 1.1rem;
        padding: 0.5rem;
      }
      &_list {
        padding: 0.5rem;
        font-family: josefine-sans, Arial (sans-serif), Arial Black (sans-serif),
        Verdana (sans-serif), Tahoma (sans-serif), Trebuchet MS (sans-serif),
        Impact (sans-serif), Gill Sans (sans-serif);
        font-weight: bold;
        font-size: 1.1rem;
        border-radius: 0.3rem;
        text-align: center;
      }
    }
  }
  .datePicker {
    border-radius: 0.3rem;
    div {
      input {
        padding: 0.5rem;
        font-family: josefine-sans, Arial (sans-serif), Arial Black (sans-serif),
        Verdana (sans-serif), Tahoma (sans-serif), Trebuchet MS (sans-serif),
        Impact (sans-serif), Gill Sans (sans-serif);
        font-weight: bold;
        font-size: 1.1rem;
        text-align: center;
        cursor: pointer;
      }
    }
  }
  .btns {
    margin-top: 1rem;
  }
}
@media only screen and (max-width: 999px) {
  .order_modal {
    display: flex;
    justify-content: center;
    padding-top: 0;
    text-align: center;
    position: fixed;
    z-index: 110;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: $dark-violet;
    opacity: 0.95;
    &_content {
      height: 25rem;
      margin-top: 12rem;
      background-color: $color-primary;
      color: $violet;
      width: 50vw;
      border: 3px solid $light-grey;
      border-radius: 1rem;
    }
    &_component {
      display: flex;
      flex-direction: column;
      height: 5rem;
      align-items: center;
      &_label {
        margin: 1rem 0;
        color: $color-secondary;
        font-family: josefine-sans, Arial (sans-serif), Arial Black (sans-serif),
        Verdana (sans-serif), Tahoma (sans-serif), Trebuchet MS (sans-serif),
        Impact (sans-serif), Gill Sans (sans-serif);
        font-weight: 300;
        font-size: 1.25rem;
      }
      &_input {
        border-radius: 0.5rem;
        font-family: josefine-sans, Arial (sans-serif), Arial Black (sans-serif),
        Verdana (sans-serif), Tahoma (sans-serif), Trebuchet MS (sans-serif),
        Impact (sans-serif), Gill Sans (sans-serif);
        font-size: 1.1rem;
        padding: 0.5rem;
      }
      &_list {
        padding: 0.5rem;
        font-family: josefine-sans, Arial (sans-serif), Arial Black (sans-serif),
        Verdana (sans-serif), Tahoma (sans-serif), Trebuchet MS (sans-serif),
        Impact (sans-serif), Gill Sans (sans-serif);
        font-weight: bold;
        font-size: 1.1rem;
        border-radius: 0.3rem;
        text-align: center;
      }
    }
  }
  .datePicker {
    border-radius: 0.3rem;
    div {
      input {
        padding: 0.5rem;
        font-family: josefine-sans, Arial (sans-serif), Arial Black (sans-serif),
        Verdana (sans-serif), Tahoma (sans-serif), Trebuchet MS (sans-serif),
        Impact (sans-serif), Gill Sans (sans-serif);
        font-weight: bold;
        font-size: 1.1rem;
        text-align: center;
        cursor: pointer;
      }
    }
  }
  .btns {
    margin-top: 1rem;
  }
}
@media only screen and (max-width: 767px) {
  .order_modal {
    display: flex;
    justify-content: center;
    padding-top: 0;
    text-align: center;
    position: fixed;
    z-index: 110;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: $dark-violet;
    opacity: 0.95;
    &_content {
      height: 25rem;
      margin-top: 12rem;
      background-color: $color-primary;
      color: $violet;
      width: 65vw;
      border: 3px solid $light-grey;
      border-radius: 1rem;
    }
    &_component {
      display: flex;
      flex-direction: column;
      height: 5rem;
      align-items: center;
      &_label {
        margin: 1rem 0;
        color: $color-secondary;
        font-family: josefine-sans, Arial (sans-serif), Arial Black (sans-serif),
        Verdana (sans-serif), Tahoma (sans-serif), Trebuchet MS (sans-serif),
        Impact (sans-serif), Gill Sans (sans-serif);
        font-weight: 300;
        font-size: 1.25rem;
      }
      &_input {
        border-radius: 0.5rem;
        font-family: josefine-sans, Arial (sans-serif), Arial Black (sans-serif),
        Verdana (sans-serif), Tahoma (sans-serif), Trebuchet MS (sans-serif),
        Impact (sans-serif), Gill Sans (sans-serif);
        font-size: 1.1rem;
        padding: 0.5rem;
      }
      &_list {
        padding: 0.5rem;
        font-family: josefine-sans, Arial (sans-serif), Arial Black (sans-serif),
        Verdana (sans-serif), Tahoma (sans-serif), Trebuchet MS (sans-serif),
        Impact (sans-serif), Gill Sans (sans-serif);
        font-weight: bold;
        font-size: 1.1rem;
        border-radius: 0.3rem;
        text-align: center;
      }
    }
  }
  .datePicker {
    border-radius: 0.3rem;
    div {
      input {
        padding: 0.5rem;
        font-family: josefine-sans, Arial (sans-serif), Arial Black (sans-serif),
        Verdana (sans-serif), Tahoma (sans-serif), Trebuchet MS (sans-serif),
        Impact (sans-serif), Gill Sans (sans-serif);
        font-weight: bold;
        font-size: 1.1rem;
        text-align: center;
        cursor: pointer;
      }
    }
  }
  .btns {
    margin-top: 1rem;
  }
}
@media only screen and (max-width: 600px) {
  .order_modal {
    display: flex;
    justify-content: center;
    padding-top: 0;
    text-align: center;
    position: fixed;
    z-index: 110;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: $dark-violet;
    opacity: 0.95;
    &_content {
      height: 27.5rem;
      margin-top: 12rem;
      background-color: $color-primary;
      color: $violet;
      width: 90vw;
      border: 3px solid $light-grey;
      border-radius: 1rem;
    }
    &_component {
      display: flex;
      flex-direction: column;
      height: 5rem;
      align-items: center;
      margin-bottom: 1.2rem;
      &_label {
        margin: 1rem 0;
        color: $color-secondary;
        font-family: josefine-sans, Arial (sans-serif), Arial Black (sans-serif),
        Verdana (sans-serif), Tahoma (sans-serif), Trebuchet MS (sans-serif),
        Impact (sans-serif), Gill Sans (sans-serif);
        font-weight: 300;
        font-size: 1.25rem;
      }
      &_input {
        border-radius: 0.5rem;
        font-family: josefine-sans, Arial (sans-serif), Arial Black (sans-serif),
        Verdana (sans-serif), Tahoma (sans-serif), Trebuchet MS (sans-serif),
        Impact (sans-serif), Gill Sans (sans-serif);
        font-size: 1.1rem;
        padding: 0.5rem;
      }
      &_list {
        padding: 0.5rem;
        font-family: josefine-sans, Arial (sans-serif), Arial Black (sans-serif),
        Verdana (sans-serif), Tahoma (sans-serif), Trebuchet MS (sans-serif),
        Impact (sans-serif), Gill Sans (sans-serif);
        font-weight: bold;
        font-size: 1.1rem;
        border-radius: 0.3rem;
        text-align: center;
      }
    }
  }
  .datePicker {
    border-radius: 0.3rem;
    div {
      input {
        padding: 0.5rem;
        font-family: josefine-sans, Arial (sans-serif), Arial Black (sans-serif),
        Verdana (sans-serif), Tahoma (sans-serif), Trebuchet MS (sans-serif),
        Impact (sans-serif), Gill Sans (sans-serif);
        font-weight: bold;
        font-size: 1.1rem;
        text-align: center;
        cursor: pointer;
      }
    }
  }
  .btns {
    margin-top: 1rem;
  }
}
