$color-primary: #012b82;
$color-secondary: #ffffff;
$light-grey: #f1f1f1;
$dark-violet: #49323c;
$light-green: #82b440;
$violet: #69398b;
$pink: #bc7f83;
$red: #d91d0f;
$yellow: #ffff99;
$magenta: #a62db4;
@font-face {
  font-family: "myFont";
  src: url(../src/assets/fonts/Sportage-Demo/Sportage-Demo.ttf);
}
@font-face {
  font-family: "josefine-sans";
  src: url(../src/assets/fonts/Josefine-Sans/JosefinSans-Regular.ttf);
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
