@import "../../../custom.scss";
.order-data {
  &-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: $new-fonts;
    font-weight: bold;
    &-no-plan {
      font-size: 1.5rem;
      font-style: italic;
      &-link {
        cursor: pointer;
        text-decoration: underline;
      }
      &-link:hover {
        color: $light-green;
      }
      &-link:active {
        color: $color-primary;
      }
    }
  }
  &-title {
    text-decoration: underline;
    font-style: italic;
    font-family: $fonts;
    color: $dark-violet;
  }
}
