@import "../../../custom.scss";
.order-data {
  &-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: josefine-sans, Arial (sans-serif), Arial Black (sans-serif),
    Verdana (sans-serif), Tahoma (sans-serif), Trebuchet MS (sans-serif),
    Impact (sans-serif), Gill Sans (sans-serif);
    font-weight: bold;
    &-no-plan {
      font-size: 1.5rem;
      font-style: italic;
      &-link {
        cursor: pointer;
        text-decoration: underline;
      }
      &-link:hover {
        color: $light-green;
      }
      &-link:active {
        color: $color-primary;
      }
    }
  }
  &-title {
    text-decoration: underline;
    font-style: italic;
    font-family: myFont, Arial (sans-serif), Arial Black (sans-serif),
    Verdana (sans-serif), Tahoma (sans-serif), Trebuchet MS (sans-serif),
    Impact (sans-serif), Gill Sans (sans-serif);
    color: $dark-violet;
  }
}
