@import "../../custom.scss";
.table {
  &-type,
  &-item {
    text-align: center;
    padding: 2rem 0.5rem;
  }
  &-type {
    font-size: 1.4rem;
    font-family: $fonts;
    color: $color-primary;
    text-decoration: underline;
  }
}
