@import "../../custom.scss";
.accordion-container {
  margin-bottom: 2rem;
}
.accordion {
  font-family: $fonts;
  color: $color-primary;
  background-color: $light-grey;
  cursor: pointer;
  padding: 1rem;
  width: 100vw;
  border: none;
  text-align: center;
  outline: none;
  font-size: 1.8rem;
  text-decoration: underline;
  font-style: italic;
  transition: 0.4s;
}
.active,
.accordion:hover {
  color: $light-grey;
  background-color: $color-primary;
}
.panel {
  margin-bottom: 2rem;
  font-family: $fonts;
  font-size: 1.5rem;
  width: 100vw;
  background-color: $light-green;
  color: $color-secondary;
  overflow: hidden;
  &-list {
    text-align: center;
    padding: 0;
    &-item {
      list-style: none;
      margin: 1rem;
      &-text {
        margin: 1rem;
      }
    }
  }
}
