@import "../../custom.scss";
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
}
.spinner {
    margin: 12rem auto;
    text-align: center;
    border: 16px solid $light-grey;
    border-radius: 50%;
    border-top: 16px solid $color-primary;
    width: 6rem;
    height: 6rem;
    animation: rotate 2s infinite linear;
  }
.table{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $fonts;
    margin-bottom: 2rem;
    &-title{
      font-family: $fonts;
      font-style: italic;
      text-decoration: underline;
      color: $dark-violet;  
    }
    &-content{
      border: solid 0.2rem $color-primary;
    }
}
.describe{
  width:7vw;
  display: flex;
  justify-content: center;
  &-item{
   &-day, &-hour{
    position: relative;
    width: 3rem;
    font-size: 1.3rem;
  }
  &-hour{
    margin-top: 1rem;
  }
  }
}
.diagonal-cross {
  position: absolute;
  width:6vw;
  height: 2rem;
  display: block;
  border-bottom: 3px solid $color-primary;
transform: rotate(17deg);
transform-origin: right;
}
.weekday{
  width:10vw;
  font-size: 1.5rem;
  border: solid 0.2rem $color-primary;
}
.hour-row{
  font-size: 1.2rem;
  &-start{
    text-align: center;
    border: solid 0.2rem $color-primary;
  }
  &-content{
    text-align: center;
    border: solid 0.2rem $color-primary;
  }
}